*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
   background-image: url("https://cdn.pixabay.com/photo/2017/12/15/13/51/polynesia-3021072_1280.jpg");
   background-repeat: no-repeat;
   background-size:cover;
   background-position: center;
   height: 100vh;

}
.forme{
    width: 450px;
    height: 575px;
    border: 2px solid rgb(18, 18, 18);
    background-color:rgba(0,0,0, 0.6);
    position: absolute;
    margin: auto;
    top: 10px;
    left: 0;
    right: 0;
    padding: 30px;
    border-radius: 10px;
    border-top: 6px solid #46cb29;
    border-bottom: 6px solid #46cb29;
    box-shadow: 0 0 10px #000;
}
.form-text{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;

}

.form-saisie span{
    font-size: 15px;
    font-weight: bold;

}
.form-saisie input{
    width: 100%;
    font-size: 16px;
    outline: none;
    background-color: rgba(0,0,0, 0.6);
    color: #fff;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 8px;
}
.form-saisie input[type="submit"].btninscription{
    width: 100%;
    font-size: 18px;
    background-color: #46cb29;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 10px;


}
.form-saisie input[type="submit"].btninscription:hover{
    background-color: rebeccapurple;
    color: #000;
}
.form-saisie a{
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color:red;

}
.formeconnexion{
    width: 450px;
    height: 500px;
    border: 2px solid rgb(18, 18, 18);
    background-color:rgba(0,0,0, 0.6);
    position: absolute;
    margin: auto;
    top: 40px;
    left: 0;
    right: 0;
    padding: 30px;
    border-radius: 10px;
    border-top: 6px solid blue;
    border-bottom: 6px solid blue;
    box-shadow: 0 0 10px #000;

}

.form-saisie input[type="submit"].btnconnexion{
    width: 100%;
    font-size: 18px;
    background-color: blue;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 10px;


}
.form-saisie input[type="submit"].btnconnexion:hover{
    background-color: #46cb29;
    color: #000;
}
.bodie{
    background-image: url("https://cdn.pixabay.com/photo/2016/04/18/22/05/seashells-1337565_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form-saisie .assa{
    color: aqua;
    

}


/*alert*/
.alert{
  margin: 10px;
  padding: 15px;
  color: white;
  border-radius: 10px;
}
.alert.danger{
  background-color: #d50000;
}
.alert.success{
  background-color: #2e7d32;
  
}

.alert.warning{
  background-color: #ff6d00;
}
